* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: #86a4c0;
  }

p {
  font-style: italic;
  margin: 0.5rem;
  line-height: 1rem;
}

.home-link-title {
  padding: 0;
  margin: auto;
  font-size: x-large;
  border-radius: 15px 15px 0 0;
  width: 90%;
  position: sticky;
  top: 53px;
}

/* Aligning of contact details */
.text_centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  min-width: fit-content;
}

/* Sections with the main content */
.sect1 {
  background-color: snow;
  padding: 0.25rem;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

/* Display of superhero images on each page */
.gallery2 img {
  width: 100%;
}

/* Displaying superhero image links */
.gallery img {
  width: 90%;
  display: grid;
  padding: 0;
  margin: 0 auto 1rem auto;
  border-radius: 0 0 15px 15px;
}

.gallery {
  display: grid;
  position: relative;
  height: 100%;
}

h2 {
  font-size: xx-large;
  width: 100%;
  color: rgb(235, 239, 239);
  font-style: italic;
  background-color: rgba(47, 116, 148, 0.728);
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: large;
  color: rgb(229, 236, 236);
  background: rgb(6, 69, 69);
  font-style: italic;
  font-weight: 700;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #5077bd;
}

/* Formatting nav bars and nav bar links */
.dropbtn, .pages-menu {
  background-color: rgb(4, 2, 0);
  color: #5077bd;
  padding: 0.5rem;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: none;
  cursor: pointer;
  justify-items: flex-end;
}
.dropbtn {
  width: 100%;
}
.pages-menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c7d6e3;
  z-index: 1;
  border-radius: 0 5px 5px 5px;
  border-color: #2466a0;
}
.dropdown-content a {
  color: #5077bd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 170px;
}

/* Setting hover to link all pages */

.dropdown-content a:hover {
  background-color: #2466a0a2;
  color: #fff;
  border-radius: 0 5px 5px 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color:rgba(47, 116, 148, 0.728);
}